<div class="landing">
    <div class="landing-section">
        <div class="landing-section-content">
            <span class="landing-section-content-logo"></span>
            <div class="landing-section-content-header">Young Visionaries On A Mission</div>
            <div class="landing-section-content-body">Welcome to the Epicenter of Inspiration! 🚀 Unlock Your Potential
                with Our Exclusive Resources, Expert Guidance, and Creative Tools. Dive into a World of Possibilities
                Today!</div>
            <section class="calls">
                <div class="landing-section-content-button btn">
                    <i class="bi bi-phone"></i>Conact Us
                </div>
                <a href="welcome#about" class="landing-section-content-button-secondary btn">
                    Know More
                </a>
            </section>

            <section class="socials">
                <a href="https://www.facebook.com/profile.php?id=100091063405477" class="landing-section-content-link">
                    <i class="bi bi-facebook"></i>
                    Art Vixion
                </a>
                <a href="https://www.instagram.com/makhandazonke/" class="landing-section-content-link">
                    <i class="bi bi-instagram"></i>
                    @artvixion14
                </a>
                <a href="mailto:artvixion14@gmail.com" class="landing-section-content-link">
                    <i class="bi bi-envelope"></i>
                    artvixion14@gmail.com
                </a>
                <a href="#" class="landing-section-content-link">
                    <i class="bi bi-twitter"></i>
                    @artvixion14
                </a>
            </section>
        </div>
        <div class="landing-section-image">
        </div>
    </div>
    <div class="landing-section" id="about">

        <div class="landing-section-image">
        </div>
        <div class="landing-section-content">
            <div class="landing-section-content-header">About Us</div>
            <div class="landing-section-content-body">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint dolorem deleniti vero adipisci possimus magni eos voluptatem 
                ipsa expedita, perspiciatis quis a magnam natus, illum impedit repellat. Harum in mollitia maiores natus, explicabo voluptas 
                illo expedita nisi vel omnis totam aliquid tenetur fugiat maxime reiciendis nesciunt magnam reprehenderit? Magni sint 
                dignissimos voluptatibus odio id assumenda autem repellat. Ut qui adipisci sunt nulla molestias sint dolorum dolores 
                fugiat cum, hic illum nam nesciunt nemo? Qui, quisquam. Rerum officia ab ipsa labore deleniti enim maxime necessitatibus 
                illo, nemo ut, eos fugit voluptas laborum vel sapiente atque dignissimos consectetur tempora molestiae, eaque vero!
            </div>
            
        </div>
    </div>
</div>