<div class="landing">
    <div class="landing-section">
        <div class="landing-section-content">
            <span class="landing-section-content-logo"></span>
            <div class="landing-section-content-header">Young Visionaries On A Mission</div>
            <div class="landing-section-content-body">Welcome to the Epicenter of Inspiration! 🚀 Unlock Your Potential
                with Our Exclusive Resources, Expert Guidance, and Creative Tools. Dive into a World of Possibilities
                Today!</div>
            <section class="calls">
                <div class="landing-section-content-button btn">
                    <i class="bi bi-phone"></i>Conact Us
                </div>
                <a href="welcome#about" class="landing-section-content-button-secondary btn">
                    Know More
                </a>
            </section>

            <section class="socials">
                <a href="https://www.facebook.com/profile.php?id=100091063405477" class="landing-section-content-link">
                    <i class="bi bi-facebook"></i>
                    Art Vixion
                </a>
                <a href="https://www.instagram.com/makhandazonke/" class="landing-section-content-link">
                    <i class="bi bi-instagram"></i>
                    @artvixion14
                </a>
                <a href="mailto:artvixion14@gmail.com" class="landing-section-content-link">
                    <i class="bi bi-envelope"></i>
                    artvixion14@gmail.com
                </a>
                <a href="#" class="landing-section-content-link">
                    <i class="bi bi-twitter"></i>
                    @artvixion14
                </a>
            </section>
        </div>
        <div class="landing-section-image">
            <img class="landing-section-image-src" src="../../../assets/images/pexels-pixabay-257904.png" alt=""
                srcset="">
        </div>
    </div>
    <div class="landing-section" id="about">


        <div class="landing-section-content">
            <div class="landing-section-content-subheader">Get to know us</div>
            <div class="landing-section-content-header">About the crew</div>
            <div class="landing-section-content-body">
                Art Vixion: A small NGO with a big passion for music and videography. We are a dedicated music & video
                publishing company
                that specializes in administering audio and audiovisual content. Our mission is to support talented
                artists and creators by helping them protect their musical works, distribute their content, and ensure
                they receive fair compensation for their artistry. Through our commitment to fostering harmony in the
                music industry, we aim to empower artists to share their stories and melodies with the world.
            </div>

            <div class="landing-section-content-sroll">
                <div class="landing-section-content-sroll-indicator">
                    Meet the team
                </div>
                <i class="bi bi-arrow-down"></i>
            </div>
        </div>
        <div class="landing-section-image" style="background-image: url(../../../assets/images/artist_one.png);">

        </div>
    </div>



    <!-- Products And Services -->
    <div class="landing-section" id="about">
        <div class="landing-section-content width-stretch">
            <div class="landing-section-content-subheader">Paving the way</div>
            <div class="landing-section-content-header width-stretch">Products & Services</div>
            <div class="landing-section-content-body">
                Our services provide creative solutions for music and videography. We deliver exceptional value and
                quality to enhance your final product. Explore our offerings today to experience innovation and
                excellence.
            </div>
            <div class="landing-section-content-packages">
                <div class="landing-section-content-packages-carousel">
                    <app-package-card [data]="packages_data"></app-package-card>
                </div>
            </div>
        </div>
    </div>

    <!-- The Crew -->
    <div class="landing-section" id="about" >
        <div class="landing-section-content width-stretch no-padding viewport-height"  style="background-color: #010101">
            <div class="landing-section-content-container">
                <div class="landing-section-content-container-crew" *ngFor="let member of crew">
                    <img [src]="member.imageuri" alt="" srcset="" />
                </div>
            </div>
        </div>
    </div>   
</div>