.landing {
  display: flex;
  flex-flow: column;
  gap: 0px;
  background-image: url(../../../assets/images/landing-watermark.png);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  overflow-y: scroll;
}

.landing-section {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-flow: row;
}

.landing-section-content {
  padding: 5rem 10rem;
  display: flex;
  flex-flow: column;
  gap: 1.5rem;
  width: 60vw;
  background: #fff;
  height: 100%;
  justify-content: center;
}

span.landing-section-content-logo {
  height: 15vh;
  width: 15vh;
  background: url(../../../assets/images/logo-clear.png);
  background-size: cover;
}

.landing-section-content-header {
  font-size: 5rem;
  font-weight: bold;
  width: 35vw;
}

.landing-section-content-body {
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.5rem;
  line-height: 2;
}

.landing-section-content-button.btn {
  width: fit-content;
  padding: 0.75rem 1.5rem;
  background: var(--amber);
  gap: 0.5rem;
  display: flex;
  font-weight: 700;
  font-size: 1.175rem;
}

.landing-section-content-button-secondary.btn {
  width: fit-content;
  padding: 0.75rem 1.5rem;
  gap: 0.5rem;
  display: flex;
  font-weight: 700;
  font-size: 1.175rem;
  text-decoration: underline;
}

section.socials {
  display: flex;
  flex-flow: column;
  gap: 1rem;
  margin-top: 1.5rem;
  color: #e3e3e3;
}

.landing-section-content-link {
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  color: #282828;

  &:hover {
    opacity: 0.5;
  }
}

.landing-section-image {
  height: 100vh;
  width: 40vw;
  background: transparent;
  overflow: hidden;
  background-position: right;
}

img.landing-section-image-src {
  height: 50vw;
}

.calls {
  display: flex;
  flex-flow: row;
  gap: 1rem;
}

.landing-section-content-subheader {
  font-size: 2rem;
  font-weight: bold;
  color: var(--amber);
  margin-left: 0.75rem;
  position: relative;
}

.landing-section-content-subheader::before {
  content: "";
  width: 0.25rem;
  height: 100%;
  position: absolute;
  background: var(--amber);
  left: -0.75rem;
}

.landing-section-content-sroll {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  padding: 0.5rem;
  outline: none;
  font-size: 1.5rem;
  align-items: flex-start;
  color: var(--bs-gray-800);
  position: absolute;
  bottom: 5rem;
  cursor: pointer;
  border-bottom: 3px solid transparent;
  right: 7.5rem;
  padding: 1rem 1.75rem;
  background: var(--amber);
  border-radius: 3rem;

  &:hover {
    transform: translateX(10px);
    color: var(--bs-gray-800);
    border-bottom-color: var(--amber);
  }
}

.landing-section-content-container {
  display: flex;
  flex-flow: row;
  height: 100vh;
  overflow: hidden;
  border-radius: 10px;
}

.landing-section-content-container-crew {
  border: 2px solid var(--white);
  overflow: hidden;
  display: grid;
  place-content: center;

  &:hover {
    transition: all 1.5s;
    width: 45vw;
  }
}

.landing-section-content-container-crew img {
  height: 65vh;
}

.landing-section-links {
  width: 100%;
  display: grid;
  place-content: center;
}

.landing-section-links-container {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  gap: 3.5rem;
}

a.landing-section-links-container-link {
  font-size: 2.5rem;
  color: var(--white-smoke);
  filter: drop-shadow(0px 0px 4px black);

  &:hover {
    color: var(--amber);
  }
}
