.crew {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem;
}

.crew-card {
  display: flex;
    flex-flow: column;
    gap: 1rem;
    margin: 2rem;
    background: rgb(255, 255, 255);
    filter: drop-shadow(0px 2px 6px rgba(0, 0, 0, 0.10));
    padding: 1.5rem;
    border-radius: 0.5rem;
    border-bottom: 1rem solid var(--amber);

  &:hover {
    filter: unset;
  }
}

.crew-card-image {
  height: 40vh;
  width: 15vw;
  overflow: hidden;
  background-image: url(../../../assets/images/logo.jpg);
  background-size: 5rem;
  background-repeat: repeat;
  background-position: center;
  border: 1px solid whitesmoke;
  display: grid;
  place-content: center;

  img.crew-card-image-src {
    min-height: 45vh;
    height: 45vh;
}
}

.crew-card-details {
  display: flex;
  flex-flow: column;
  gap: 0.5rem;
}

.crew-card-details-title {
  font-size: 1.75rem;
  font-weight: bold;
  color: var(--amber);
}

.crew-card-details-name {
  font-size: 1.175rem;
}

.image-overlay {
  height: 100%;
  background: #f2d60590;
  display: grid;
  place-content: center;
}

.image-overlay a {
  color: black;
  font-weight: 500;
  font-size: 1.175rem;
  text-decoration: none;
}
