<div class="store">
    <div class="store-container">
        <div class="store-container-promotions">
            <!-- TODO -->
            <!-- TODO -->
            
            <!-- EXAMPLE -->
            <div class="store-container-promotions-component">
                <img class="store-container-promotion-component-image" src="../../../assets/images/promo.jpg" alt="">
            </div>
        </div>
        <div class="store-container-main">
            <div class="main-title">
                Art Vixion Store
            </div>
            <div class="main-subtitle">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique soluta doloremque qui consequatur,
                deleniti blanditiis facilis deserunt porro suscipit, adipisci cupiditate nihil, aliquid eos quia libero
                repellendus animi officiis. Maiores rerum dicta nobis tenetur suscipit asperiores ducimus eveniet qui
                laboriosam, aut quae, doloribus ad atque accusamus quis sit labore enim facere culpa voluptatum
                similique eum eligendi quos repellat.
            </div>

            <div class="main-section">
                <div class="main-section-title">
                    Merch
                </div>
                <div class="main-sections-contents">
                    <!-- TODO -->
                    <!-- carousel for cards containing about section products -->
                    <!-- TODO -->

                   <app-store-card></app-store-card>
                </div>
            </div>
        </div>
    </div>
</div>