<div class="main-section-contents-card">
    <div class="card-container">
        <div class="card-container-image">
            <img src="../../../assets/images/merch.jpeg" alt="" class="card-container-image-src">
        </div>
        <div class="card-container-details">
            <div class="details-name">
                DON LIFE
            </div>
            <div class="details-contents">
                Hoodie
            </div>
            <div class="details-price">
                ZAR
            </div>
        </div>
    </div>
</div>