@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@100;400;500;700&display=swap');
// @import ‘~locomotive-scroll/dist/locomotive-scroll.css’;

:root {
    --roboto: 'Roboto', sans-serif;
    --jost: 'Jost', sans-serif;
    --amber:#feea50;
    --amber-soft: #fbed95;
    --black:  #101010;
    --dark:  #2e2e2e;
    --space-mono: 'Space Mono', monospace; 
    --white-smoke: #f7f7f4;

}

* {
    font-family: var(--jost);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .5s;
    scroll-behavior: smooth;
}

@keyframes fadeup {
    100% {
        transform: translateY(5px);
        opacity: 1;
    }
}

.width-stretch {
    width: 100vw !important;
}

body {
    color: var(--dark);
}

.viewport-height {
    height: 100vh !important;
}

.no-padding {
    padding: 0 !important;
}
