.navigation {
  display: grid;
  place-content: center;
  position: fixed;
  top: 2.5vh;
  left: 12.15vh;
  background: transparent;  
  background-blur: 5px;
  z-index: 1;
}

.navigation-container {
  display: flex;
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    padding: 1.5rem;
    gap: 2.25rem;
    width: calc(100vw - 15rem);
    background-color: rgba(255, 255, 255, 0.119);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border-radius: 1.5rem;
}

.container-route {
  font-size: 1.125rem;
  font-weight: 500;
  color: #000;
  filter: drop-shadow(1px  1px 3px white);
  cursor: pointer;
}

.container-logo {
  background-image: url(../../../assets/images/logo-clear.png);
  height: 7.5vh;
  width: 7.5vh;
  background-size: contain;
  display: none;
}

.container-route:last-of-type {
  margin-left: auto;
  padding: .5rem 1rem;
  background-color: var(--amber);
  border-radius: .5rem;
}
