<div class="navigation">
    <div class="navigation-container">
        <div class="container-logo"></div>
        <div class="container-route" routerLink="welcome">About Us</div>
        <div class="container-route">Services</div>
        <div class="container-route" routerLink="crew">Crew <i class="bi bi-chevron-down"></i></div>
        <div class="container-route" routerLink="store">Store <i class="bi bi-chevron-down"></i></div>
        <div class="container-route">News</div>
        <div class="container-route btn" routerLink="player"><i class="bi bi-youtube"></i>Art Vixion Player</div>
    </div>
</div>